In [1]:
import pandas as pd
import  numpy as np

In [29]:
df = pd.read_csv('../vehicles.csv')
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [3]:
# how to see all the columns we have:
df.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [4]:
# we want to rename column make into manufacture:

df.rename(columns={'Make':'Manufacture'}, inplace = True)

In [5]:
df.head()

,Manufacture,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [6]:
df.rename(columns={'Make':'Manufacture', 'Engine Displacement':'Displacement'}, inplace = True)
df.head()

,Manufacture,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [7]:
df['Manufacture'].head()

0          AM General
1          AM General
2          AM General
3          AM General
4    ASC Incorporated
Name: Manufacture, dtype: object

In [8]:
# we want to see the Ford manufacture (checking condition is always ==)
df['Manufacture'] == 'Ford'

0        False
1        False
2        False
3        False
4        False
         ...
35947    False
35948    False
35949    False
35950    False
35951    False
Name: Manufacture, Length: 35952, dtype: bool

In [9]:
# this is similar to select * from df WHERE Manufacture = 'Ford':
df[df['Manufacture'] == 'Ford']

,Manufacture,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11440,Ford,Aerostar Van,1986,2.3,4.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,17.347895,18,22,19,467.736842,1750
11441,Ford,Aerostar Van,1986,2.3,4.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,13.733750,23,26,24,370.291667,1400
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11443,Ford,Aerostar Van,1986,2.8,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,18.311667,16,22,18,493.722222,1850
11444,Ford,Aerostar Van,1986,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,17.347895,17,22,19,467.736842,1750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14381,Ford,Windstar FWD Wagon,2000,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14382,Ford,Windstar FWD Wagon,2000,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,19.388824,15,21,17,522.764706,1950
14383,Ford,Windstar FWD Wagon,2001,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,18.311667,16,22,18,493.722222,1850
14384,Ford,Windstar FWD Wagon,2002,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,18.311667,16,21,18,493.722222,1850
14385,Ford,Windstar FWD Wagon,2003,3.8,6.0,Automatic 4-spd,Front-Wheel Drive,Minivan - 2WD,Regular,18.311667,16,22,18,493.722222,1850

In [10]:
# we want to save the above into a new table:
df_ford = df[df['Manufacture'] == 'Ford']
df_ford.head()

,Manufacture,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11440,Ford,Aerostar Van,1986,2.3,4.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,17.347895,18,22,19,467.736842,1750
11441,Ford,Aerostar Van,1986,2.3,4.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,13.733750,23,26,24,370.291667,1400
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11443,Ford,Aerostar Van,1986,2.8,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,18.311667,16,22,18,493.722222,1850
11444,Ford,Aerostar Van,1986,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,17.347895,17,22,19,467.736842,1750

In [11]:
df_ford_1986 = df[(df['Manufacture'] == 'Ford') & (df['Year'] == 1986)] 
df_ford_1986.head()

,Manufacture,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11440,Ford,Aerostar Van,1986,2.3,4.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,17.347895,18,22,19,467.736842,1750
11441,Ford,Aerostar Van,1986,2.3,4.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,13.733750,23,26,24,370.291667,1400
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11443,Ford,Aerostar Van,1986,2.8,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,18.311667,16,22,18,493.722222,1850
11444,Ford,Aerostar Van,1986,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Vans,Regular,17.347895,17,22,19,467.736842,1750

In [12]:
# to get descriptive statistics:
df.describe()
# it will give us only the numeric values.

,Year,Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
count,35952.00000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000
mean,2000.71640,3.338493,5.765076,17.609056,17.646139,23.880646,19.929322,475.316339,1892.598465
std,10.08529,1.359395,1.755268,4.467283,4.769349,5.890876,5.112409,119.060773,506.958627
min,1984.00000,0.600000,2.000000,0.060000,6.000000,9.000000,7.000000,37.000000,600.000000
25%,1991.00000,2.200000,4.000000,14.699423,15.000000,20.000000,16.000000,395.000000,1500.000000
50%,2001.00000,3.000000,6.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1850.000000
75%,2010.00000,4.300000,6.000000,20.600625,20.000000,27.000000,23.000000,555.437500,2200.000000
max,2017.00000,8.400000,16.000000,47.087143,58.000000,61.000000,56.000000,1269.571429,5800.000000

In [13]:
#create a new column hello and has hello every cell:
df['hello']= 'hello'
df.head()

,Manufacture,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,hello
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,hello
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,hello
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,hello
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,hello
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,hello

In [14]:
# define a column that shows the age of the cars:
df['age'] = 2020 - df['Year']
df.head()

,Manufacture,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,hello,age
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,hello,36
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,hello,36
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,hello,35
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,hello,35
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,hello,33

In [15]:
# to check if the previous command worked:


df['2020'] = df['age'] + df['Year']
df.head()

,Manufacture,Model,Year,Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,hello,age,2020
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,hello,36,2020
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,hello,36,2020
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,hello,35,2020
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,hello,35,2020
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,hello,33,2020

In [16]:
df.columns

Index(['Manufacture', 'Model', 'Year', 'Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year', 'hello', 'age', '2020'],
      dtype='object')

In [26]:
# to delete columns, we need to call it as a new data frame to see the changes:
df = df.drop('Fuel Cost/Year' , axis=1)

KeyError: "['Fuel Cost/Year'] not found in axis"

In [28]:
# to delete multiple columns (the delete is permanent):
df = df.drop(['City MPG', 'Highway MPG'] , axis=1)

In [ ]:
# how to rename? ask Shinan.

In [30]:
# apply functions to columns: to get sum of columns

df.sum()

Make                       AM GeneralAM GeneralAM GeneralAM GeneralASC In...
Model                      DJ Po Vehicle 2WDFJ8c Post OfficePost Office D...
Year                                                                71929756
Engine Displacement                                                   120026
Cylinders                                                             207266
Transmission               Automatic 3-spdAutomatic 3-spdAutomatic 3-spdA...
Drivetrain                 2-Wheel Drive2-Wheel DriveRear-Wheel DriveRear...
Vehicle Class              Special Purpose Vehicle 2WDSpecial Purpose Veh...
Fuel Type                  RegularRegularRegularRegularPremiumRegularRegu...
Fuel Barrels/Year                                                     633081
City MPG                                                              634414
Highway MPG                                                           858557
Combined MPG                                                          716499
CO2 Emission Grams/Mile                                          1.70886e+07
Fuel Cost/Year                                                      68042700
dtype: object

In [32]:
# to sum the column year
df['Year'].sum()

71929756

In [35]:
#to sum multiple columns: it is two parenthesis because we have to make a list of columns to calculate them. 
df[['Year', 'City MPG']].sum()

Year        71929756
City MPG      634414
dtype: int64

In [36]:
df[['Year', 'City MPG']].max()

Year        2017
City MPG      58
dtype: int64

In [39]:
# to sort:
df = df.sort_values(by = 'Year')

# to applied to the original table:
#df = df.sort_values(by = 'Year', inplace = True)

In [74]:
# to sort multiple columns:  
df.sort_values(by = [ 'Year', 'City MPG'])

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
9068,Dodge,B350 Wagon 2WD,1984,5.9,8.0,Automatic 3-spd,2-Wheel Drive,"Vans, Passenger Type",Regular,36.623333,8,10,9,987.444444,3700
10916,Dodge,W100/W150 Pickup 4WD,1984,5.9,8.0,Automatic 3-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Regular,32.961000,9,12,10,888.700000,3350
11936,Ford,E250 Econoline 2WD,1984,5.8,8.0,Automatic 3-spd,2-Wheel Drive,"Vans, Cargo Type",Regular,36.623333,9,10,9,987.444444,3700
11807,Ford,E150 Club Wagon 2WD,1984,5.8,8.0,Automatic 3-spd,2-Wheel Drive,"Vans, Passenger Type",Regular,36.623333,9,10,9,987.444444,3700
10974,Dodge,W250 Pickup 4WD,1984,5.9,8.0,Automatic 3-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Regular,32.961000,9,11,10,888.700000,3350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21134,Lexus,CT 200h,2017,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,7.847857,43,40,42,212.000000,800
17058,Honda,Accord Hybrid,2017,2.0,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular,6.866875,49,47,48,183.000000,700
6497,Chevrolet,Malibu Hybrid,2017,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular,7.165435,49,43,46,194.000000,700
33278,Toyota,Prius,2017,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular,6.338654,54,50,52,171.000000,650
33280,Toyota,Prius Eco,2017,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular,5.885893,58,53,56,158.000000,600

In [42]:
df.min()

Make                            AM General
Model                      1-Ton Truck 2WD
Year                                  1984
Engine Displacement                    0.6
Cylinders                                2
Transmission                     Auto (AV)
Drivetrain                   2-Wheel Drive
Vehicle Class                 Compact Cars
Fuel Type                              CNG
Fuel Barrels/Year                     0.06
City MPG                                 6
Highway MPG                              9
Combined MPG                             7
CO2 Emission Grams/Mile                 37
Fuel Cost/Year                         600
dtype: object

In [43]:
# this iss to get the largest 3 entries in year:
df.nlargest(3, 'Year')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
7781,Chevrolet,Trax AWD,2017,1.4,4.0,Automatic (S6),All-Wheel Drive,Small Sport Utility Vehicle 4WD,Regular,12.207778,24,30,27,334.0,1250
18759,Infiniti,QX70 RWD,2017,3.7,6.0,Automatic (S7),Rear-Wheel Drive,Small Sport Utility Vehicle 2WD,Premium,17.347895,17,24,19,457.0,2150
3360,Buick,Envision FWD,2017,2.5,4.0,Automatic 6-spd,Front-Wheel Drive,Small Sport Utility Vehicle 2WD,Regular,13.184400,22,29,25,356.0,1350

In [44]:
df.nlargest(3, ['Year',  'City MPG'])

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
33280,Toyota,Prius Eco,2017,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular,5.885893,58,53,56,158.0,600
33278,Toyota,Prius,2017,1.8,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular,6.338654,54,50,52,171.0,650
17058,Honda,Accord Hybrid,2017,2.0,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Midsize Cars,Regular,6.866875,49,47,48,183.0,700

In [45]:
df.nsmallest(3, ['Year',  'City MPG'])

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
9068,Dodge,B350 Wagon 2WD,1984,5.9,8.0,Automatic 3-spd,2-Wheel Drive,"Vans, Passenger Type",Regular,36.623333,8,10,9,987.444444,3700
10916,Dodge,W100/W150 Pickup 4WD,1984,5.9,8.0,Automatic 3-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Regular,32.961000,9,12,10,888.700000,3350
11936,Ford,E250 Econoline 2WD,1984,5.8,8.0,Automatic 3-spd,2-Wheel Drive,"Vans, Cargo Type",Regular,36.623333,9,10,9,987.444444,3700

In [61]:
# capitalise all the values in df.manufacture: upper works on a string:
df['Make'].apply(str.upper)

# now we use lambda to run the same:
#df['Make'].apply(lambda x: x.upper())

0        AM GENERAL
16337           GMC
16336           GMC
5636      CHEVROLET
5637      CHEVROLET
            ...
34115        TOYOTA
1993            BMW
2022            BMW
1996            BMW
20450           KIA
Name: Make, Length: 35952, dtype: object

In [54]:
# in the 'Make' column replace every A with letter B
df['Make'].apply(lambda x: x.replace('a', 'b'))

0        AM Generbl
16337           GMC
16336           GMC
5636      Chevrolet
5637      Chevrolet
            ...
34115        Toyotb
1993            BMW
2022            BMW
1996            BMW
20450           Kib
Name: Make, Length: 35952, dtype: object

In [58]:
# to make above command for multiple columns: 
# it will not work !!!!!!!!!!!!!
df[['Make', 'Vehicle Class']].apply(lambda x: x.replace('a', 'b'))

             Make                Vehicle Class
0      AM General  Special Purpose Vehicle 2WD
16337         GMC   Standard Pickup Trucks 4WD
16336         GMC   Standard Pickup Trucks 4WD
5636    Chevrolet   Standard Pickup Trucks 2WD
5637    Chevrolet   Standard Pickup Trucks 2WD
...           ...                          ...
34115      Toyota              Subcompact Cars
1993          BMW                 Compact Cars
2022          BMW              Subcompact Cars
1996          BMW                 Compact Cars
20450         Kia                   Large Cars

[35952 rows x 2 columns]

In [ ]:
df.mean()

In [63]:
# datafraem aggregation using groupby:
# here is the mean of each subgroup of fuel type, we will get the mean of everything based on groupped column: 
df.groupby(['Fuel Type']).mean()
# we can use it for min, max, median, sum

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Fuel Type,,,,,,,,,
CNG,2003.200000,3.963333,6.500000,0.119789,15.966667,22.016667,18.133333,454.976354,1954.166667
Diesel,1994.929748,4.188913,6.225027,17.680877,21.173436,27.466520,23.488474,470.905819,1673.326015
Gasoline or E85,2010.501255,4.465188,6.974059,19.560309,15.347280,21.613389,17.572385,527.444383,1978.870293
Gasoline or natural gas,2004.000000,4.570000,6.800000,23.725940,13.700000,18.700000,15.350000,638.967778,2410.000000
Gasoline or propane,2002.500000,5.400000,8.000000,24.720750,12.000000,16.500000,13.500000,666.525000,2500.000000
Midgrade,2014.148649,5.536486,7.864865,19.163168,14.851351,22.364865,17.378378,516.911921,2152.027027
Premium,2005.575345,3.517075,6.365286,17.852563,16.793166,23.855861,19.343816,481.159270,2198.094950
Premium Gas or Electricity,2014.470588,1.764706,4.235294,4.755412,30.705882,33.176471,31.647059,125.411765,1361.764706
Premium and Electricity,2015.700000,2.345000,4.850000,8.135294,24.900000,28.900000,26.300000,239.450000,1597.500000
Premium or E85,2012.917355,3.680992,6.892562,17.021126,17.305785,24.909091,20.090909,460.462355,2091.322314
Regular,1998.252597,3.164540,5.420952,17.467430,17.970195,23.854623,20.144698,470.907242,1767.024208
Regular Gas and Electricity,2014.625000,1.950000,4.000000,4.669536,43.125000,40.750000,41.937500,125.687500,812.500000
Regular Gas or Electricity,2016.500000,1.500000,4.000000,2.006844,43.000000,42.000000,42.000000,51.000000,800.000000

In [64]:
df.groupby(['Fuel Type', 'Make']).mean()

                                              Year  Engine Displacement  \
Fuel Type                   Make
CNG                         Chevrolet  2004.400000             6.000000
                            Dodge      1998.875000             4.487500
                            Ford       2000.368421             5.063158
                            GMC        2004.500000             6.000000
                            Honda      2006.500000             1.738889
...                                            ...                  ...
Regular Gas and Electricity Ford       2014.777778             2.000000
                            Honda      2014.000000             2.000000
                            Hyundai    2016.500000             2.000000
                            Toyota     2013.500000             1.800000
Regular Gas or Electricity  Chevrolet  2016.500000             1.500000

                                       Cylinders  Fuel Barrels/Year  \
Fuel Type                   Make
CNG                         Chevrolet       8.00           0.181867
                            Dodge           7.25           0.133433
                            Ford            8.00           0.138454
                            GMC             8.00           0.180833
                            Honda           4.00           0.065410
...                                          ...                ...
Regular Gas and Electricity Ford            4.00           4.801412
                            Honda           4.00           4.827657
                            Hyundai         4.00           3.858080
                            Toyota          4.00           4.739011
Regular Gas or Electricity  Chevrolet       4.00           2.006844

                                        City MPG  Highway MPG  Combined MPG  \
Fuel Type                   Make
CNG                         Chevrolet   9.400000    12.600000     10.400000
                            Dodge      12.625000    17.250000     14.250000
                            Ford       11.894737    16.842105     13.736842
                            GMC         9.500000    13.000000     10.500000
                            Honda      25.222222    34.222222     28.500000
...                                          ...          ...           ...
Regular Gas and Electricity Ford       40.333333    36.555556     38.444444
                            Honda      47.000000    46.000000     46.000000
                            Hyundai    38.000000    40.500000     39.500000
                            Toyota     51.000000    49.000000     50.000000
Regular Gas or Electricity  Chevrolet  43.000000    42.000000     42.000000

                                       CO2 Emission Grams/Mile  Fuel Cost/Year
Fuel Type                   Make
CNG                         Chevrolet               693.198000     2950.000000
                            Dodge                   508.590547     2181.250000
                            Ford                    527.726359     2252.631579
                            GMC                     689.259375     2925.000000
                            Honda                   247.532772     1077.777778
...                                                        ...             ...
Regular Gas and Electricity Ford                    127.111111      888.888889
                            Honda                   130.000000      700.000000
                            Hyundai                 102.500000      850.000000
                            Toyota                  133.000000      650.000000
Regular Gas or Electricity  Chevrolet                51.000000      800.000000

[265 rows x 9 columns]

In [67]:
# here we make the mean of cylinders for each manufacturer: it means only mean of one column
df.groupby(['Fuel Type'])['Cylinders'].mean()

Fuel Type
CNG                            6.500000
Diesel                         6.225027
Gasoline or E85                6.974059
Gasoline or natural gas        6.800000
Gasoline or propane            8.000000
Midgrade                       7.864865
Premium                        6.365286
Premium Gas or Electricity     4.235294
Premium and Electricity        4.850000
Premium or E85                 6.892562
Regular                        5.420952
Regular Gas and Electricity    4.000000
Regular Gas or Electricity     4.000000
Name: Cylinders, dtype: float64

In [73]:
df.groupby(['Fuel Type'])[['Cylinders', 'City MPG']].mean()

                             Cylinders   City MPG
Fuel Type
CNG                           6.500000  15.966667
Diesel                        6.225027  21.173436
Gasoline or E85               6.974059  15.347280
Gasoline or natural gas       6.800000  13.700000
Gasoline or propane           8.000000  12.000000
Midgrade                      7.864865  14.851351
Premium                       6.365286  16.793166
Premium Gas or Electricity    4.235294  30.705882
Premium and Electricity       4.850000  24.900000
Premium or E85                6.892562  17.305785
Regular                       5.420952  17.970195
Regular Gas and Electricity   4.000000  43.125000
Regular Gas or Electricity    4.000000  43.000000

In [72]:
df.groupby(['Fuel Type'])[['Cylinders', 'City MPG']].agg(['mean', 'max', 'min'])

                            Cylinders              City MPG
                                 mean   max  min       mean max min
Fuel Type
CNG                          6.500000   8.0  4.0  15.966667  27   8
Diesel                       6.225027  10.0  4.0  21.173436  38  13
Gasoline or E85              6.974059   8.0  4.0  15.347280  28  10
Gasoline or natural gas      6.800000   8.0  4.0  13.700000  21  10
Gasoline or propane          8.000000   8.0  8.0  12.000000  13  11
Midgrade                     7.864865   8.0  6.0  14.851351  21  13
Premium                      6.365286  16.0  2.0  16.793166  42   6
Premium Gas or Electricity   4.235294   8.0  2.0  30.705882  41  20
Premium and Electricity      4.850000   8.0  3.0  24.900000  37  16
Premium or E85               6.892562  12.0  4.0  17.305785  24  11
Regular                      5.420952  12.0  2.0  17.970195  58   7
Regular Gas and Electricity  4.000000   4.0  4.0  43.125000  51  38
Regular Gas or Electricity   4.000000   4.0  4.0  43.000000  43  43

In [ ]:
#