In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('housing_prices.csv')

In [2]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
df.shape # (rows, columns)

(1460, 81)

In [4]:
#this is to find the number of missing values:
df.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [5]:
# lets get the percentage of missing values
df.isnull().sum()/len(df)*100

Id                0.000000
MSSubClass        0.000000
MSZoning          0.000000
LotFrontage      17.739726
LotArea           0.000000
                   ...
MoSold            0.000000
YrSold            0.000000
SaleType          0.000000
SaleCondition     0.000000
SalePrice         0.000000
Length: 81, dtype: float64

In [6]:
# which is the same as:
df.isnull().mean()*100

Id                0.000000
MSSubClass        0.000000
MSZoning          0.000000
LotFrontage      17.739726
LotArea           0.000000
                   ...
MoSold            0.000000
YrSold            0.000000
SaleType          0.000000
SaleCondition     0.000000
SalePrice         0.000000
Length: 81, dtype: float64

In [7]:
pct_missing = df.isnull().sum() * 100 / len(df)
pct_missing

type(pct_missing)

pandas.core.series.Series

In [8]:
pct_missing

Id                0.000000
MSSubClass        0.000000
MSZoning          0.000000
LotFrontage      17.739726
LotArea           0.000000
                   ...
MoSold            0.000000
YrSold            0.000000
SaleType          0.000000
SaleCondition     0.000000
SalePrice         0.000000
Length: 81, dtype: float64

In [9]:
# make a table out of above missing values:

missing_table = pd.DataFrame({'column_name': df.columns,'percent_missing': pct_missing})
missing_table
# here df.columns refers to the exact number of columns in our dataframe

                 column_name  percent_missing
Id                        Id         0.000000
MSSubClass        MSSubClass         0.000000
MSZoning            MSZoning         0.000000
LotFrontage      LotFrontage        17.739726
LotArea              LotArea         0.000000
...                      ...              ...
MoSold                MoSold         0.000000
YrSold                YrSold         0.000000
SaleType            SaleType         0.000000
SaleCondition  SaleCondition         0.000000
SalePrice          SalePrice         0.000000

[81 rows x 2 columns]

In [10]:
#Print the columns where more than 20% of values are missing.
above_20 = missing_table[missing_table['percent_missing']> 20]
above_20

             column_name  percent_missing
Alley              Alley        93.767123
FireplaceQu  FireplaceQu        47.260274
PoolQC            PoolQC        99.520548
Fence              Fence        80.753425
MiscFeature  MiscFeature        96.301370

So from the above you already have the name of the columns you want to drop. Let's do it in less steps below:

# 1st and most correct way

In [11]:
df.shape

(1460, 81)

In [12]:
df_null = df.isnull().sum() * 100 / len(df)

In [13]:
df_null_cols = df_null[df_null > 20].index #get the name of the columns with more than 20% of missing values

In [14]:
df_null_cols

Index(['Alley', 'FireplaceQu', 'PoolQC', 'Fence', 'MiscFeature'], dtype='object')

In [15]:
final_df = df.drop(df_null_cols, axis=1) #axis=1 to drop columns

In [16]:
final_df.shape

(1460, 76)

In [17]:
final_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

# 2nd way and using your 'percent_missing' row

In [22]:
result

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1457,1458,70,RL,66,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500
column_name,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
percent_missing,0,0,0,17.7397,0,0,93.7671,0,0,0,...,0,99.5205,80.7534,96.3014,0,0,0,0,0,0

In [23]:
result.shape

(1462, 81)

In [32]:
percent_missing_mask = result.loc['percent_missing', :]<20 # access the row with .loc. the ":" represents the all 
#range of columns

In [33]:
percent_missing_mask #this is a "boolean" mask that we'll use to apply to the result df. False values are thrown away

Id               True
MSSubClass       True
MSZoning         True
LotFrontage      True
LotArea          True
                 ...
MoSold           True
YrSold           True
SaleType         True
SaleCondition    True
SalePrice        True
Name: percent_missing, Length: 81, dtype: bool

In [34]:
percent_missing_mask.value_counts() #makes sense with the 2st way

True     76
False     5
Name: percent_missing, dtype: int64

In [35]:
result_transpose = result.T #lets transpose the df result so it is on the same shape of the mask

In [36]:
result_transpose

,0,1,2,3,4,5,6,7,8,9,...,1452,1453,1454,1455,1456,1457,1458,1459,column_name,percent_missing
Id,1,2,3,4,5,6,7,8,9,10,...,1453,1454,1455,1456,1457,1458,1459,1460,Id,0
MSSubClass,60,20,60,70,60,50,20,60,50,190,...,180,20,20,60,20,70,20,20,MSSubClass,0
MSZoning,RL,RL,RL,RL,RL,RL,RL,RL,RM,RL,...,RM,RL,FV,RL,RL,RL,RL,RL,MSZoning,0
LotFrontage,65,80,68,60,84,85,75,NaN,51,50,...,35,90,62,62,85,66,68,75,LotFrontage,17.7397
LotArea,8450,9600,11250,9550,14260,14115,10084,10382,6120,7420,...,3675,17217,7500,7917,13175,9042,9717,9937,LotArea,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MoSold,2,5,9,2,12,10,8,11,4,1,...,5,7,10,8,2,5,4,6,MoSold,0
YrSold,2008,2007,2008,2006,2008,2009,2007,2009,2008,2008,...,2006,2006,2009,2007,2010,2010,2010,2008,YrSold,0
SaleType,WD,WD,WD,WD,WD,WD,WD,WD,WD,WD,...,WD,WD,WD,WD,WD,WD,WD,WD,SaleType,0
SaleCondition,Normal,Normal,Normal,Abnorml,Normal,Normal,Normal,Normal,Abnorml,Normal,...,Normal,Abnorml,Normal,Normal,Normal,Normal,Normal,Normal,SaleCondition,0
SalePrice,208500,181500,223500,140000,250000,143000,307000,200000,129900,118000,...,145000,84500,185000,175000,210000,266500,142125,147500,SalePrice,0

In [37]:
# now apply the mask
result_transpose_after_mask=result_transpose[percent_missing_mask]

In [38]:
result_transpose_after_mask

,0,1,2,3,4,5,6,7,8,9,...,1452,1453,1454,1455,1456,1457,1458,1459,column_name,percent_missing
Id,1,2,3,4,5,6,7,8,9,10,...,1453,1454,1455,1456,1457,1458,1459,1460,Id,0
MSSubClass,60,20,60,70,60,50,20,60,50,190,...,180,20,20,60,20,70,20,20,MSSubClass,0
MSZoning,RL,RL,RL,RL,RL,RL,RL,RL,RM,RL,...,RM,RL,FV,RL,RL,RL,RL,RL,MSZoning,0
LotFrontage,65,80,68,60,84,85,75,NaN,51,50,...,35,90,62,62,85,66,68,75,LotFrontage,17.7397
LotArea,8450,9600,11250,9550,14260,14115,10084,10382,6120,7420,...,3675,17217,7500,7917,13175,9042,9717,9937,LotArea,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MoSold,2,5,9,2,12,10,8,11,4,1,...,5,7,10,8,2,5,4,6,MoSold,0
YrSold,2008,2007,2008,2006,2008,2009,2007,2009,2008,2008,...,2006,2006,2009,2007,2010,2010,2010,2008,YrSold,0
SaleType,WD,WD,WD,WD,WD,WD,WD,WD,WD,WD,...,WD,WD,WD,WD,WD,WD,WD,WD,SaleType,0
SaleCondition,Normal,Normal,Normal,Abnorml,Normal,Normal,Normal,Normal,Abnorml,Normal,...,Normal,Abnorml,Normal,Normal,Normal,Normal,Normal,Normal,SaleCondition,0
SalePrice,208500,181500,223500,140000,250000,143000,307000,200000,129900,118000,...,145000,84500,185000,175000,210000,266500,142125,147500,SalePrice,0

In [41]:
(result_transpose_after_mask.T).head() #let's put it back on the original shape :)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

# which is the same result we got on the first way

In [109]:
final_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000